<h1>Danh sách vé</h1>
<a href="/form">Tạo vé mới</a>

<form action="/" method="get">
    <div style="display: flex; flex-direction: column; gap: 1rem">
        <input type="text" name="nameQuery" placeholder="Nhập eventName hoặc holderName">

        <!-- <select name="statusQuery">
            <option value="All">All</option>
            <option value="Upcoming">Upcoming</option>
            <option value="Sold">Sold</option>
            <option value="Cancelled">Cancelled</option>
        </select> -->

        <button type="submit">Tìm kiếm</button>
    </div>
</form>


<table border="1" width="80%" style="margin: 1rem auto">
    <tr>
        <td>studentId</td>
        <td>dateOfBirth</td>
        <td>fullName</td>
        <td>gender</td>
        <td>nationalId</td>
        <td>avatar</td>
        <td>Actions</td>
        <!-- <td>pricePerTicket</td>
    <td>eventDate</td>
    <td>status</td>
    <td>imageUrl</td>
    <td>totalAmount</td>
    <td>finalAmount</td>
    <td>isDicount</td>
    <td>Actions</td> -->
    </tr>
    <% students.forEach(t=> { %>
        <tr>
            <td>
                <%= t.studentId %>
            </td>
            <td>
                <%= t.dateOfBirth %>
            </td>
            <td>
                <%= t.fullName %>
            </td>
            <td>
                <%= t.gender %>
            </td>
            <td>
                <%= t.nationalId %>
            </td>
            <td>
                <img src="<%= t.avatar %>" width="80" alt="">
            </td>
            <!-- <td><%= t.pricePerTicket %></td>
        <td><%= t.eventDate %></td>
        <td><%= t.status %></td>
        <td>
            <img src="<%= t.imageUrl %>" width="80" alt="">
        </td>
        <td><%= t.totalAmount %></td>
        <td><%= t.finalAmount %></td>
        <td><%= t.isDicount ? "Được giảm giá" : "Không giảm giá" %></td> -->
            <td>
                <div style="display: flex; justify-content: center; gap: 1rem">
                    <a href="/form/<%= t.studentId %>">Sửa</a>|
                    <a href="/detail/<%= t.studentId %>">Xem chi tiết</a>|
                    <form action="/students/delete/<%= t.studentId %>" method="POST">
                        <button type="submit">Xóa</button>
                    </form>
                </div>
            </td>
        </tr>
        <% }) %>
</table>